<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    </head>
    <body>
        <header>
            <h1>Welcome to NOTify</h1>
            <nav>
                <ul>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/songs">Songs</a></li>
                    <li><a href="/Users">Edit Profile</a></li>
                </ul>
            </nav>
        </header>
    </body>
</html>