<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="shortcut icon" href="/images/notify-icon.png">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Home</title>
    </head>
    <body>
            <h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1>
            <div>
            <nav>
                <ul>
                    <li><a href="/login">Log-in</a></li>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/songs">Songs</a></li>
                </ul>
            </nav>
            <main>
                <h3>Welcome back, <%= user.name.split(" ")[0] %> </h3>
            </main>
            </div>
    </body>
</html>