<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/styles/main.css">
    <title>Home</title>
    </head>
    <body>
            <h1>NOTify</h1>
            <div>
            <nav>
                <ul>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/songs">Songs</a></li>
                    <li><a href="/Users">Edit Profile</a></li>
                </ul>
            </nav>
            </div>
    </body>
</html>