<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Songs</title>
</head>
<body>
    <h1>Welcome to NOTify</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/songs/new">Add a new song</a></li>
        </ul>
    </nav>
    <main>
        <h2>Song List</h2>
        <ul>
            <% songs.forEach(song => { %>
                <li>
                    <a href="/songs/<%= song._id %>"><%= song.title %></a>
                </li>
            <% }); %>
        </ul>
            <% if(songs.length === 0){ %>
                <p>No songs available.</p>
            <% } %>
    </main>
</body>
</html>