<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Songs</title>
</head>
<body>
    <h1>Song List</h1>
        <ul>
            <li>Song</li>
            <li>Song</li>
            <li>Song</li>
            <li>Song</li>
            <li>Song</li>
        </ul>
    
</body>
</html>