<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Add a Song</title>
</head>
<body>
    <h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/songs">Songs</a></li>
            </ul>
        </nav>
    <main>
        <h2>Add a Song to the NOTify Library</h2>
    <form action="/songs" method="POST">
    <input type="text" name="title" placeholder="Song Title" required>
    <select name="artistId">
        <% for( let i = 0; i < artists.length; i++ ) { %>
        <option value="<%= artists[i]._id %>"><%= artists[i].name %></option>
        <% } %>
    </select>
        <% if (message) { %>
        <p class="user-message"><%= message %></p>
        <% } %>
    <input type="text" name="link" placeholder="SoundCloud Link">
    <input type="submit" value="Add Song">
    </form>
    <p>Artist not listed? Click <a href="/artists/new">here</a>.</p>
    </main>
    </div>
</body>
</html>