<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Edit <%= playlist.title%></title>
</head>
<body>
    <div>
        <nav>
            <ul>
                <li><h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1></li>
                <li><a href="/index">Home</a></li>
                <li><a href="/playlists">Playlists</a></li>
            </ul>
        </nav>
    <main>
        <h2>Edit "<%= playlist.title%>"</h2>
        <form action="/playlists/<%= playlist._id %>?_method=PUT" method="POST">
        <input type="text" name="title" value="<%= playlist.title%>">
        <input class="button" type="submit" value="Update Playlist">
        </form>
    </main>
    </div>
</body>
</html>