body {
    background-color: rgb(30, 30, 30);
    color: rgb(243, 247, 252);
    height: 100vh;
    font-family: 'Lexend Tera', sans-serif;
}

h1 {
    font-size: 35px;
    color: rgb(60, 182, 60);
    display: inline;
    text-justify: 200px;
}

#logo {
    height: 35px;
    width: 35px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    height: 100%;
    background-color: black;
    color: white;
}

li a {
    display: block;
    color: white;
    padding: 16px 30px;
    border-radius: 10px;
    text-decoration: none;
}

  /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

div {
    display: flex;
    height: 100%;
}

div nav {
    flex: 1;
    height: 100%;
}

ul {
    list-style-type: none;
}

main {    
    flex: 3;
    margin-left: 8%;
}

.user-message {
    color: rgb(206, 81, 81);
    font-size: 12px;
}

/* link styling */
a:link {
    color: white;
}


.button:hover {
    transform: scale(1.1);
    transition: .7 ease-in;
}

button a {
    text-decoration: none;
    
}

button a:hover {
    color: black;
}

a:visited {
    color: white;
}

a:hover {
    color: rgb(60, 182, 60);
}

a:active {
    color: white;
}

.button {
    background-color: rgb(60, 182, 60);
    border: thick black;
    border-radius: 10px;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 120px;
    height: 25px;
    margin: 2px;
    cursor: pointer;
}
