body {
    background-color: rgb(0, 0, 0);
    color: rgb(243, 247, 252);
}


/* link styling */
a:link {
    color: rgb(219, 216, 216);
}

a:visited {
    color: rgb(180, 176, 176);
}

a:hover {
    color: white;
}

a:active {
    color: rgb(146, 146, 148);
}
