<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
</head>
<body>
    <header>
    <h1>Edit Account</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form action="/users" method="POST">
            <input type="text" name="name" placeholder="User Name" />
        </form>
    </main>
</body>
</html>