<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" media="screen and (max-width: 600px)" href="/styles/smallscreen.css">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="shortcut icon" href="/images/notify-icon.png">
        <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title><%= user.name %>'s Profile</title>
    </head>
    <body>
            <div>
            <nav>
                <ul>
                    <li><h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1></li>
                    <li><a href="/artists">Artists</a></li>
                    <li><a href="/songs">Songs</a></li>
                    <li><a href="/playlists">Playlists</a></li>
                    <li><a href="/logout">Log out</a></li>
                </ul>
            </nav>
            <main>
                <h3>Welcome, <%= user.name.split(" ")[0] %>!</h3>
                <a class="button" href="/<%= user.id %>">Account Info</a>
            </main>
            </div>
    </body>
</html>