<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous" defer></script>
    <script src="/scripts/app.js" defer></script>
    <title>Log-in</title>
</head>
<body>
    <h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1>
    <div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <main>
        <h2>Log-in to your account</h2>
        <h3>Don't have an account? Create one <a href="/signup">here</a>.</h3>
        <br>
        <form action="/login" method="POST">
        <p>Email: <input type="email" name="email" placeholder="example@youremail.com" required id="login-email"></p>
        <p>Password: <input type="password" name="password" placeholder="Password" required id="login-pwd"></p>
        <% if (message) { %>
            <p><%= message%></p>
            <% } %>
        <p><input type="submit" value="Log-in" id="login-submit"></p>
        </form>
    </main>
    </div>
</body>
</html>