<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <title>User Show Page</title>
</head>
<body>
    <h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1>
    <h1><%= user.name %></h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
            </ul>
        </nav>
    <main>
        <h3><%= user.name %>'s Account Info</h3>
        <p>Email: <%= user.email %></p> <a href="/edit">Edit E-mail</a>
        <a href="/edit">Edit Password</a>
    </main>
</body>
</html>