<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Artist</title>
</head>
<body>
    <h1>Edit Artist</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/artists">Artists</a></li>
        </ul>
    </nav>


    
</body>
</html>