<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Edit <%= artist.name%></title>
</head>
<body>
    <h1>N</h1><img src="/images/notify-logo.png" alt="notify logo" id="logo"><h1>Tify</h1>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/artists">Artists</a></li>
            </ul>
        </nav>

    <main>
        <h2>Edit "<%= artist.name%>"</h2>
        <form action="/artists/<%= artist._id %>?_method=PUT" method="POST">
        <input type="text" name="name" value="<%= artist.name%>">
        <input type="submit" value="Update Artist">
        </form>
    </main>
    </div>
</body>
</html>