<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Artists</title>
</head>
<body>
    <h1>Artist Library</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/artists/new">Add a new artist</a></li>
        </ul>
    </nav>
    <p>
        <% if (artists.length === 0) { %>
        No artists available. Check connection, or try again later. 
        <% } else { %>
        <ul>
            <% artists.forEach(artist => { %>
            <li><a href="/artists/<%=artist._id%>"><%= artist.name %></a></li>
            <% }) %>
            <% } %>
        </ul>
        </p>
        <button><a href="/artists/new">Add New Artist</a></button>
</body>
</html>