<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="shortcut icon" href="/images/notify-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Tera&display=swap" rel="stylesheet">
    <title>Add an Artist</title>
</head>
<body>
    <h1>NOTify</h1>
    <div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/artists">Artists</a></li>
            </ul>
        </nav>

    <main>
        <h2>Add an Artist to the NOTify Library</h2>
        <form action="/artists" method="post">
        <input type="text" name="name" placeholder="Artist's Name">
        <input type="submit" value="Add Artist">
        </form>
    </main>
    
    </div>
</body>
</html>