<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Show Page</title>
</head>
<body>
    <h1>Artist</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/artists">Artists</a></li>
        </ul>
    </nav>
    <p>
        <h2>List of Songs</h2>
        <ul>
            <li>Artist</li>
            <li>Artist</li>
            <li>Artist</li>
            
        </ul>
    </p>
</body>
</html>